*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(15,15,15)
}
.heading{
    display: flex;
    color:white;
    width:100%;
    font-size: x-large;
    font-weight:600;
    justify-self:center;
    align-items:baseline;
    position:relative;
    column-gap: 0%;
    padding: 20px;
    box-shadow:  rgb(255, 255, 255)  0px 0px 20px;
    background-color: rgba(255, 230, 0, 0.296);
    color: rgb(0, 0, 0);
}
.heading .F{
    font-size: 30px;
    font-weight: 900;
}
.searchBox{
    text-align: center;
    margin:3rem;
    position: relative;
}
.search-bar{
    width:300px;
    height:40px;
    border:none;
    outline:none;
    border-radius: 20px;
    padding: 0.3rem 1rem;
}
.notSearch{
    font-size: 35px;
    color:rgb(0, 0, 0);
    font-weight:900;
    position: relative;
}
.container{
    width:100%;
    margin:0;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    height:350px;
    overflow-y: scroll;
}
.card{
    width:200px;
    height:320px;
    margin:1.5rem;
    background: linear-gradient(to left,rgb(204, 255, 51,0.5),to left,rgb(255, 255, 255,0.9));
    border-radius: 8px;
    box-shadow: 0 7px 12px rgb(204, 255, 51,0.5);
    box-sizing: border-box;
    overflow:hidden;
    position:relative;
}
.card img{
    width:100%;
}
.card .info{
    color:white;  
    text-align: center;
}

.card .info h2{
    margin:0;
    font-weight: 900;
    margin-top: 15px;
}
.card .info p{
    margin: 0;
    font-size: 17px;
    letter-spacing: 2px;
    margin-top: 10px;
}
.card:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    height:0;
    width:100%;
    background: linear-gradient(to bottom,rgb(204, 255, 51,0.7),rgb(204, 255, 51,0.9));
    transition:0.2s All;
}
.card:hover:before{
    height: 100%;

}
.card:hover{
    overflow-y: scroll;
    background: linear-gradient(to bottom,rgb(204, 255, 51,0.7),rgb(204, 255, 51,0.9));  
}
.card .recipe{
    position: absolute;
    top:0;
    left:0;
    text-align: justify;
    padding: 0.5rem 1rem;
    display: none;
    transition: 0.3s all;
}
.card:hover .recipe{
    display:block;
    cursor:text;
}
.recipe h2{
    margin-bottom:10px;
    color: rgb(0, 0, 0);
}
.recipe img{
    width: 100px;
    height:100px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.recipe p{
    font-size: 16px;
    text-decoration: dashed;
    color: black;
    font-family: Georgia, 'Times New Roman';
}
.recipe a{   
    display: block;
    text-align: center;
    color:black;
    padding: 2px;
    border: 1px solid rgb(255, 2, 2);
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    text-decoration: none;
    margin: 5px;
    cursor:pointer;
}
.HomeTag{
    position:relative;
    width:100%;
}
.HomeTag:hover .Home{
    background-color: rgb(255, 255, 255);
    color: black;
    }
.HomeTag:hover .MealPage{
        width: 900px;
        height:max-content;
        padding: 40px;
        display: flex;
        flex-direction:column;
        top: 0;
        left: 300px;
        overflow: visible;
}
.MealPage{
        position:absolute;
        background-color: rgba(101, 87, 81, 0.431);
        box-shadow: rgba(143, 120, 120, 0.63) 0px 0px 20px;
        width:0;
        height: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
        transition:  0.3 all;
}